.ucps {
    padding: 40px 0;
    background-color: #f5f5f5;

    .wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        @include margin-center;

        .ucp {
            display: flex;
            flex-flow: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            position: relative;

            h3{
                font-weight: 400;
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-color: #e5e5e5;
                    display: flex;
                    position: absolute;
                    right: -3.5vw;
                }
            }
        }

        .icon-wrapper {
            img {
                width: 60px;
                height: 60px;
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}
